* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.footer {
  width: 100%;
  background-color: #16193e;
  color: white;

  justify-content: flex-end;
}

.link-list {
  list-style: none;
  padding: 0;
  margin: 0;
  bottom: 0;

  * {
    color: white;
  }
}

.columns-container {
  width: 100%;
  height: 100px;
}

.special-column {
  display: block;
  float: left;
  width: 20%;
  min-height: 100px;
}
form {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1.5em 0em;
}
#info-msg {

}
.not-displaying {
  display: none;
}
.show-unvalid {
  display: block;
  color: red;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.purple {
  background-color: purple;
}

.yellow {
  background-color: yellow;
}

.slides {
  margin-top: 2em;
  padding: 0 40px;
  position: relative;
}

.slick-dots {
  width: calc(100% - 80px) !important;
}

.slide-container {
  padding: 0 20px;
}

.slide {
  min-height: 150px;
  min-width: 150px;
  background-color: grey;
  padding: 1em;
}

.slick-arrow {
  z-index: 1;
}

.slick-arrow:before {
  color: black !important;
}

.slick-prev {
  left: 20px !important;
}

.slick-next {
  right: 20px !important;
}
